<!-- 

Scan'INT 2022 - Telecom SudParis
Projet informatique


Ce fichier concerne le contenu de la page home.html, page d'accueil du site qui présente brièvement le projet et donne accès à l'application WEB.

-->

<!DOCTYPE html>

<html>

    <!-- Configuration du head (apparence dans l'onglet de la page web), link des sheet css / js -->
    <head>
        <meta charset="utf-8"/>
        <title>Scan'INT</title>  <!-- Nom dans l'onglet du navigateur -->
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/qr-code.png">  <!-- Logo sur l'onglet -->
        <link rel="stylesheet" href="../static/home.css" />
    </head>

<!-- ============================================ HEADER ============================================ -->

<header id="header">

    <!-- TITRE  -->

    <div id="Titre">
        <a class="Home" href="home.html"><h1>Scan'INT</h1></a>
        <h2>Projet informatique - Telecom SudParis</h2>
    </div>

    <!-- NAVIGATION BAR -->

    <nav>
        <ul>
            <li ><a id="Home" href="home.html">Home</a></li>
            <li ><a id="App" href="app.html">App</a></li>
        </ul>
    </nav>
</header>

<!-- ============================================ PRESENTATION ============================================ -->

<section id="Presentation"">

    <div id="SousTitre">
        <h1>Scan'INT - Projet informatique</h1>
        <p>Scan'INT est un projet informatique mené par un groupe de 5 élève de Telecom SudParis. L'objectif : créer une application WEB permettant de définir le style architectural d'un batîment à l'aide d'une simple photo.</p>
        <span>
        <a id="bouton" href="app.html">Lancer l'application</a>
        </span>
    </div>
    <img src="../static/images/qr-code.png" alt="logo SCAN'INT"> 
</section>

<!-- ============================================ OBJECTIFS ============================================ -->

<section id="main">

    <!-- TITRE -->

    <div class="Titreh2">
        <p>Presentation</p>
        <h2>Objectifs</h2>
        <hr class="separator"> <!-- Trait de séparation -->
    </div>

    <!-- OBJECTIFS -->

    <div id="bloc_objectifs">
        <div id="neurones">
            <img src="../static/images/neurone.png" alt="Réseau de neuronnes">
            <p>Utilisation d'un réseau convolutif de neuronnes pour la détection de styles architecturaux.</p>
        </div>

        <div id="collaboratif">
            <img src="../static/images/collaboration.png" alt="Aspect collaboratif">
            <p>Création d'un guide touristique collaboratif, utilisable par tous.</p>
        </div>
        
        <div id="bdd">
            <img src="../static/images/nouvelle-base-de-donnees.png" alt="Base de données">
            <p>Mise en place d'une base de données évolutive à l'aide de l'avis des utilisateurs</p>
        </div>
    </div>
</section>

<!-- ============================================ FOOTER ============================================ -->

<footer>
    <p>Copyright © 2022 - scanint.fr | Telecom SudParis </p>
</footer>

</html>