<!-- 

Scan'INT 2022 - Telecom SudParis
Projet informatique


Ce fichier concerne le contenu de la page solution1.html, destiné à annoncé le style architectural prédite par l'IA sur la photo téléchargée.

--><!DOCTYPE html>

<html lang="fr">
    <head>>
        <meta name=""viewport" content="initial-scale =1, width= device-width">
        <title> hello</title>
    </head>

    <body> 
        <form action="#" method="get">
            
            <a href=""{{url_for('index')}}>Modifier mon nom</a>
            
        </form>
        hello, world,  {{name}}

    </body>
    
    </html>