<!DOCTYPE html>

<html lang="en">
    <head>>
        <meta name=""viewport" content="initial-scale =1, width= device-width">
        <title> hello</title>
    </head>

    <body> 
        <form action="#" method="get">
            
            <a href=""{{url_for('index')}}>Modifier mon nom</a>
            
        </form>
        hello, world,  {{ pred }}
        <Script>
            var res = JSON.parse(' {{ res | safe }} ');
            console.log(res.pred);
        </Script>
    </body>
    
    
    </html>