<!-- 

Scan'INT 2022 - Telecom SudParis
Projet informatique


Ce fichier concerne le contenu de la page app.html, page sur laquelle se trouve l'application WEB.
C'est sur cette page que l'on poura transférer notre photo pour l'analyser et déduire le style architectural du batiment qui se trouve dessus. 

-->

<!DOCTYPE html>

<html>

    <!-- Configuration du head (apparence dans l'onglet de la page web), link des sheet css / js -->
    <head>
        <meta charset="utf-8"/>
        <title>Scan'INT</title> <!-- Nom dans l'onglet du navigateur -->
        <link rel="icon" type="image/png" sizes="16x16" href="images/qr-code.png"> <!-- Logo sur l'onglet -->
        <link rel="stylesheet" href="../static/solution.css" />
        <link rel="stylesheet" href="../static/dropzone.css"> 
        <script src="../static/dropzone.js"></script>
    </head>

<!-- ============================================ HEADER ============================================ -->

<header id="header">
    
    <!-- TITRE  -->
    
    <div id="Titre">
        <a class="Home" href="home.html"><h1>Scan'INT</h1></a>
        <h2>Projet informatique - Telecom SudParis</h2>
    </div>
    
    <!-- NAVIGATION BAR  -->

    <nav>
        <ul>
            <li ><a id="Home" href="home.html">Home</a></li>
            <li ><a id="App" href="app.html">App</a></li>
        </ul>
    </nav>

</header>

<!-- ============================================ APPLICATION ============================================ -->

    <body>
        <div>
            <div class='center'>
                <div id="contener"> <!-- le contener permet de contenir la zone de texte, sans quoi le cursor de l'animation va jusqu'à la fin de la page web -->
                    
                    <!-- TITRE -->
                <div>De quelle type d'architecture est mon batîment ? &#127970;</div>
                
                </div>
                
                <div class='content'>

                    <!-- Dépot de fichiers -->  

                    <form action="{{ url_for('upload_files') }}" class="dropzone">
                    </form>

                    <!-- Bouton Anlayser -->

                    <div class='analyser'>
                        <button id='analyser-button' class='analyser-button' type='button'><span class="text"><a href="{{ url_for('solutions') }}">Analyser</a></span></button>
                    </div>

                </div>
                
                <div id="contener">
                    <div class="title">Résultat : {{ pred }}</div>
                </div>
                <!-- Liste déroulante des styles architecturaux pris en compte -->
                
                <div id='list'>

                    <details>
                        <summary>Types d'architectures actuellement pris en compte :</summary>
                        <ul>
                            <li>American craftsman</li>
                            <li>Bauhaus</li>
                            <li>Palladian</li>
                            <li>Deconstructivism</li>
                            <li>Georgian</li>
                            <li>Romanesque</li>
                            <li>Greek Revival</li>
                            <li>American Foursquare</li>
                            <li>Byzantine</li>
                            <li>Postmodern</li>
                            <li>Art Nouveau</li>
                            <li>Art Deco</li>
                            <li>Russian Revival</li>
                            <li>Edwardian</li>
                            <li>Achaemenid</li>
                            <li>Novelty</li>
                            <li>Baroque</li>
                            <li>Colonial</li>
                            <li>Ancient Egyptian</li>
                            <li>Tudor Revival</li>
                            <li>Queen Anne</li>
                            <li>Chicago school</li>
                            <li>Gothic</li>
                            <li>International</li>
                            <li>Beaux-Arts</li>
                        </ul>
                    </details>

                </div>                
            </div>
        </div>
    </body>

<!-- ============================================ FOOTER ============================================ -->

<footer>
    <p>Copyright © 2022 - scanint.fr | Telecom SudParis </p>
</footer>

</html>