* {
    margin: 0;
    padding: 0;
    font-family: 'avenir';
}

@font-face {
    font-family:'Avenir', Arial, Helvetica, sans-serif;
    src: url();
}


header {
    display: flex;
    width: 100%;
    align-items: center;
    height: auto;
    background-color: rgb(255, 253, 246);
    color: #655441;
}

/* HEADER ICON */

header #Titre {
    width: auto;
    height: auto;
    color: #655441;
    margin: 10px 10px 10px 25px;
}
header #Titre a {
    text-decoration: none;
}
header #Titre a:visited {
    text-decoration: none;
    color: #655441;
}
header #Titre h1 {
    font-size: 2.5em;
    font-weight: 900;
}

header #Titre h2 {
    font-size: 1em;
    font-weight: 900;
}

/* HEADER NAVIGATION */

header nav {
    position: absolute;
    right: 20px;
}

header nav ul {
    display: flex ;
    list-style-type: none;
    align-items: center;
}

header nav ul li {
    margin: 10px;
    font-size: 1.3em;
}

header nav ul li img {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

header nav ul li a {
    text-decoration: none;
    font-weight:800;
}

header nav ul #App {
    color: #1c70cf;
}

header nav ul li a:visited {
    color:#655441;
}

header nav ul li a:hover {
    color: #1c70cf ;
}

header nav ul li a:active {
    color: #1c70cf;
}

/* Interface */

.center {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #655441;
    font-weight: 900;
    font-size: 2em;
}

#contener {
    width: fit-content;
    margin: 30px auto;
}
.title {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(26, 110, 167); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
        
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(26, 110, 167); }
      }
    

.analyser {
    margin-top: 1em;
}

.publier-fichier {
    padding: 10px;
    font-size: 16px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

button.choisir-fichier {
    margin: auto;
    align-items: center;
    background-image: linear-gradient(144deg,#1e3872, #424ef3 50%,#1c70cf);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #655441;
    font-weight: 900;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  button.choisir-fichier:active,
  button.choisir-fichier:hover {    outline: 0;
  }

  button.choisir-fichier span {
    background-color: rgb(255, 253, 246);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button.choisir-fichier:hover span {
    background: none;
    color: rgb(255, 253, 246);
  }
  
  @media (min-width: 768px) {
    button.choisir-fichier {
    font-size: 24px;
      min-width: 196px;
    }
  }


  button.analyser-button {
    margin: auto;
    align-items: center;
    background-image: linear-gradient(144deg,#1e3872, #424ef3 50%,#1c70cf);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #655441;
    font-weight: 900;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  button.analyser-button:active,
  button.analyser-button:hover {    outline: 0;
  }

  button.analyser-button span {
    background-color: rgb(255, 253, 246);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button.analyser-button:hover span {
    background: none;
    color: rgb(255, 253, 246);
  }
  
  @media (min-width: 768px) {
    button.analyser-button {
    font-size: 24px;
      min-width: 196px;
    }
  }

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

#list {
    font-size: 20px;
    margin: 50px 0px;
}

details:hover {
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 18px;
}

.ne-pas-montrer {
    display: none;
}


.dropzone {
     border-radius: 20px;
     
}
/* ====================================================================================================== */

