/* 
Scan'INT 2022 - Telecom SudParis
Projet informatique
 */

 /* Ce fichier concerne le style de la page home.html */

/* ============================================ GENERAL ============================================*/

* { 
    /* réglages communs à tous els éléments de la page  */
    margin: 0;
    padding: 0;
    font-family: 'avenir';
}

@font-face { 
    /* permet de définir la police pour l'ensemble du site  */
    font-family:'Avenir', Arbddl, Helvetica, sans-serif;
    src: url();
}

/* ============================================ HEADER ============================================*/

header {
    display: flex;
    width: 100%;
    align-items: center;
    height: auto;
    background-color: rgb(255, 253, 246);
    color: #655441;
}

/* HEADER Titre */

header #Titre {
    width: auto;
    height: auto;
    color: #655441;
    margin: 10px 10px 10px 25px;
}
header #Titre a { 
    /* permet d'enlever le trait de soulignement des liens */
    text-decoration: none;
}
header #Titre a:visited {
    /* permet d'enlever le trait de soulignement ainsi que la couleur bleu/violette des liens */
    text-decoration: none;
    color: #655441;
}

/* mise en page des titres */

header #Titre h1 {
    font-size: 2.5em;
    font-weight: 900;
}

header #Titre h2 {
    font-size: 1em;
    font-weight: 900;
}

/* HEADER NAVIGATION BAR */

    /* La navigation bar est une liste de liens placés à l'horizontale auxquels on enlève l'aspect des liens classiques */

header nav {
    position: absolute;
    right: 30px;
}

header nav ul {
    display: flex ;
    list-style-type: none;
    align-items: center;
}

header nav ul li {
    margin: 10px;
    font-size: 1.3em;
}

header nav ul li a {
    text-decoration: none;
    font-weight:800;
}

header nav ul #Home {
    /* l'objectif est d'avoir dans la nav-bar une couleur différente pour le nom de la page sur laquelle on est : si on est sur home, home sera en bleu et le reste en marron etc... */
    color: #1c70cf;
}

header nav ul li a:visited {
    /* lorsqu'un site a déjà été visité, on ne veut pas que le lien soit violet mais garde la couleur marronnée */
    color:#655441;
}

header nav ul li a:hover {
    /* lorsqu'on passe la souris sur l'un des liens cliquables, celui-ci change de couleur */
    color: #1c70cf;
}

header nav ul li a:active {
    color: #1c70cf;
}

/* ============================================ PRESENTATION ============================================*/

/* mise en page du rectangle de présentation du projet */

#Presentation {
    color:rgb(255, 253, 246);
    background-color: #1c70cf;
    background: linear-gradient(-45deg, #2483ff, #0f54ad, #195e9e, #5495e0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

/* permet d'animer le fond */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

#Presentation #SousTitre {
    width: auto;
    height:auto;
    margin: 25px 35px 25px 35px;

}

#Presentation #SousTitre h1 {
    font-size: 300%;
    text-align: center;
    margin-bottom: 20px;
}

#Presentation #SousTitre p {
    font-size: 26px;
    text-align: justify;
}

#Presentation #SousTitre #bouton {
    /* mise en page du bouton de lancement de l'application, qui renvoie simplement vers app.html */
    position: relative;
    top:15%;
    left: 35%;
    padding: 25px;
    font-size: 23px;
    font-weight: 600;
    color: rgb(255, 253, 246);
    border: rgb(255, 253, 246) solid 4px;
    border-radius: 20px;
}
#Presentation #SousTitre a:visited {
    text-decoration: none;
    color: rgb(255, 253, 246);
}

#Presentation img {
    width: 50%;
    height: 10%;
    margin: 35px;
    margin-right: 80px;
}

/* ============================================ OBJECTIFS ============================================*/

#main {
    width: 80%;
    margin: auto; 
}

.separator {
    display: inline-block;
    margin : 5px;
    height: 2px;
    width: 8%;
    background-color: #655441;
}

.Titreh2 {
    margin: 2%;
    text-align: center;
    color:#655441
}
.Titreh2 p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.Titreh2 h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

#bloc_objectifs {
    display: flex;
    color:#655441;
    font-size: 1.3em;
    font-weight: 600;
    justify-content: space-around;
}

#neurones, #collaboratif, #bdd {
    width: 40%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    /* permet d'animer l'ombrage qui apparait lorsqu'on passe la souris sur la box d'objectif */
    transition: box-shadow .3s;
    width: 300px;
    padding:20px;
    border-radius:20px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
        
}
#neurones:hover, #collaboratif:hover, #bdd:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.3); 
    }


#neurones img, #collaboratif img, #bdd img {
    width: 200px;
    display: block;
    margin: auto auto 30px auto;
}

/* ============================================ FOOTER ============================================*/

footer {
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px; 
 }
footer p {
    color:rgb(255, 253, 246);
    background-color: black;
    text-align: center;
    padding: 15px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}


